body {
  background-color:#191919;
  color: white;
}

h1 {
  color: white;
}

table, th, td {
  border: 3px solid;
  border-collapse: collapse;
  border-color: white;
}

.teaser {
    max-width: 50%;
    max-height: 50%;
}

